body {
    background-image: url(../images/bg-image.jpg);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    background-color: tomato;
    color: bisque;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px gray;
}

h4 {
    color: red;
}

blockquote {
    background-color: rgba(255, 248, 220, 0.4);
    color: brown;
    padding: 15px 10px;
}


.top-image{
    width: 40px;
}