*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, textarea, select{
    color: blue;
    font-size: 1.06em;
    width: 200px;
}
input[type='checkbox'],
input[type='radio']{
    width: fit-content;
}

select, textarea{
    width: 208px;

}
label{
    display: inline-block;
    width: 100px;
}

.input{
    padding-top: 14px;
}

input[type='button'],
input[type='submit'],
input[type='reset']{
    margin: 5px;
    padding: 5px 20px 7px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 3px grey;
    color: antiquewhite;
    font-weight: bold;
    width: fit-content;
}

input[type='submit']{
    background-color: darkorange;
}

input[type='reset']{
    background-color: green;
}

form{
    padding: 20px 50px;
    width: fit-content;
    background-color: antiquewhite;
    
    box-shadow: 3px 3px 3px grey;
    /* margin: auto; */
}